@import "../variables/index.scss";

@mixin dFlex($justify: center, $align: center){
   display: flex; 
   justify-content: $justify;
   align-items: $align;
}

@mixin dGrid($placeItem: center){
   display: grid;
   place-items: $placeItem;
}

@mixin rotateItem($parentDeg: 45deg, $childDeg: -45deg){
   rotate: $parentDeg;
   & > *{
      rotate: $childDeg;
   }
}

@mixin tabletSize{
   @media(min-width: $tablet) {
      @content
   }
}
