*{
    text-decoration: none;
    list-style: none;
    
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #fff6e2;
    margin-left: 3rem;
}

img,
Image{
    width: 100%;
    display: block;
}