@import "../index.scss";

$skillImgSize: clamp(2rem, 3.5vw, 3rem);
$skillFontSize: clamp(0.8rem, 1rem, 1.2rem);

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  gap: 0.5rem;
  @include mdSize{
    grid-template-rows: 1fr;
  }
}

.mainSquare,
.sideSquare1,
.sideSquare2 {
  position: relative;
  overflow: hidden;
  rotate: 45deg;
  box-shadow: 0 8px 32px 0 rgba(26, 26, 26, 0.37);
  & > :first-child{
    rotate: -45deg;
  }

  @include lgSize{
    rotate: 0deg;
    & > :first-child{
      rotate: 0deg;
    }
  }
}

.mainSquare {
  width: 25rem;
  height: 25rem;
  display: grid;
  place-items: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border: $borderColor;
  @include lgSize{
    width: 23rem;
    height: 23rem;
  }
  @include mdSize{
    width: min(60vw, 26rem);
    height: 20rem;
  }
  @include smSize{
    width: 85vw;
    height: 100%
  }
}

.mainSkillWrapper {
  @include dGrid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat((3, 1fr));
  gap: 0.8rem;

  & :first-child {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  & :nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  & :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  & :nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  & :nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.skillItems {
  width: 6rem;
  height: 6rem;
  text-align: center;
  color: #f0f0f0;
  @include dFlex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.2;
  & span {
    font-size: $skillImgSize;
  }
  & p {
    font-size: $skillFontSize;
  }

  @include lgSize{
    width: 4rem;
    height: 4rem;
  }
}

.sideSquare1,
.sideSquare2 {
  width: 6.5rem;
  height: 6.5rem;
  text-align: center;
  border: 5px solid white;
  padding: .3rem;
  @include dFlex;
  @include lgSize{
    width: 6.5rem;
    height: 6.5rem;
  }
  @include mdSize{
    display: none;
  }
  @include mdHeight{
    display: none;
  }
}

.sideSquare1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: flex-end;
  align-self: center;
}

.sideSquare2 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-self: flex-start;
  align-self: center;
}

.aboutTitle{
  & h2{
    font-size: $titleFontSize;
    padding-bottom: 1rem;
  }
  & p{
    font-size: clamp(1rem, 1.3rem, 1.6rem);
  }
}
