@import "../index.scss";

.container{
    button{
        border: none;
        padding: 1rem;
        margin-inline: 1rem;
    }
    .skillSection{
        @include dFlex;
        flex-direction: column;
        gap: 1rem;
    }
    .skillContainer{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-inline: auto;
        .skillItems{
            margin-inline: auto;
            font-size: clamp(2.5rem, 4vw, 3.5rem);
            text-align: center;
            color: #191919;
            padding: 1rem 2rem;
            @include dFlex;
            flex-direction: column;
            p{
                font-size: clamp(.8rem, 1.2rem, 1.4rem);
            }
        }
    }
}