@import "../../style/index.scss";

.container{
    margin-top: 5rem;
}

.mainTitle{
    width: min(70rem, 90vw);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
    & > *{
        margin-block: .8rem;
    }
    .authorName{
        line-height: 1.1;
        letter-spacing: .2rem;
        font-size: clamp(3.4rem, 4vw, 6rem);
        color: #354a39d1;
    }
    .authorTitle{
        font-size: clamp(1.8rem, 2vw, 2.4rem);
    }
}

@include tabletSize{
  .mainTitle{
    .authorTitle{
        width: 70%;
        margin-left: 30%;
    }
  }
}