@import "../index.scss";



  .mainTitle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;
    h1 {
      line-height: 1;
      letter-spacing: 0.2rem;
      font-size: clamp(4.5rem, 6vw, 10rem);
      color: #be5a20;
    }
    .authorTitle {
      font-size: clamp(1.6rem, 1.6vw, 2rem);
    }
  }

  .heroSquare{
    rotate: 45deg;
    overflow: hidden;
    border: $borderColor;
    width: $squareSize;
    height: $squareSize;
    .imgWrapper{
      width: 100%;
      height: 100%;
      .heroImg{
        rotate: -45deg;
        object-fit: cover;
      }
    }
  }

