@import "../../style/index.scss";

.nav{
    @include dFlex(space-between);
    padding: 1rem;
    
    .logo{
        width: 5rem;
        height: 5rem;
    }

    .linkContainer{
        display: none;
    }

    .mobileLinkContainer,
    .mobileLinkContainer span,
    .mobileLinks{
        @include dFlex;
    }

    .mobileLinkContainer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 300ms ease;
        background-color: #fff;
        & :first-child{
        flex-direction: column;
        }
        & span{
            margin-top: 1rem;
            padding: 1.5rem;
            border-bottom: 2px solid black;
        }
        .quitMenuIcon{
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            width: 2rem;
            height: 2rem;
        }
    }

    .links{
        padding: 1.5rem 2rem;
        font-size: $navLinkFontSize-md;
        color: $linkColor;
    }
    
    .menuIcon{
        width: 2rem;
        height: 2rem;
        padding: 1.5rem;
    }

    @include tabletSize{
        &{
           justify-content: space-around;
        }
        .linkContainer{
            @include dFlex;
        }
        .menuIcon{
            display: none;
        }
    }
}







